@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

.takenmakenform {
    position: relative;
    width: auto;
    height: auto;
    margin: 0 auto;
    border-radius: 15px;
    padding: 10px;
    margin-top: 80px;
    background-color: rgb(68, 68, 68);
    padding: 30px;
}

.takenmakenform:after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    background: linear-gradient(to right, #4f46e5, #9333ea);
    border-radius: 15px;
    z-index: -1;
}

.takenmakenform>input {
    display: block;
    position: relative;
    margin-top: 15px;

    background-color: rgb(47, 47, 47);
    box-shadow: 0 4px 15px 0 rgba(79, 70, 229, 0.5), 0 6px 20px 0 rgba(147, 51, 234, 0.4), 0 0 30px rgba(79, 70, 229, 0.3);
    border-radius: 10px;
    width: 80%;
    padding: 10px;
}

.takenmakenform>input:hover {
    box-shadow: 0 4px 20px 6px rgba(79, 70, 229, 0.5), 0 6px 20px 0 rgba(147, 51, 234, 0.4), 0 0 30px rgba(79, 70, 229, 0.3);
}

.takenmakenform>label {
    font-size: 25px;
    font-weight: 900;
    font-family: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
}

.takenmakenform>textarea {
    display: block;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(47, 47, 47);
    box-shadow: 0 4px 15px 0 rgba(79, 70, 229, 0.5), 0 6px 20px 0 rgba(147, 51, 234, 0.4), 0 0 30px rgba(79, 70, 229, 0.3);
    border-radius: 10px;
    width: 80%;
    height: 80px;
    padding: 10px;
}

.takenmakenform>textarea:hover {
    box-shadow: 0 4px 20px 6px rgba(79, 70, 229, 0.5), 0 6px 20px 0 rgba(147, 51, 234, 0.4), 0 0 30px rgba(79, 70, 229, 0.3);
}

.takenmakenform>#deadline {
    display: block;
    position: relative;
    margin-top: 15px;
    background-color: rgb(47, 47, 47);
    box-shadow: 0 4px 15px 0 rgba(79, 70, 229, 0.5), 0 6px 20px 0 rgba(147, 51, 234, 0.4), 0 0 30px rgba(79, 70, 229, 0.3);
    border-radius: 10px;
    width: 200px;
    padding: 10px;
}

.takenmakenform>#deadline:hover {
    box-shadow: 0 4px 20px 6px rgba(79, 70, 229, 0.5), 0 6px 20px 0 rgba(147, 51, 234, 0.4), 0 0 30px rgba(79, 70, 229, 0.3);
}

.takenmakenform>select {
    display: block;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(47, 47, 47);
    box-shadow: 0 4px 15px 0 rgba(79, 70, 229, 0.5), 0 6px 20px 0 rgba(147, 51, 234, 0.4), 0 0 30px rgba(79, 70, 229, 0.3);
    border-radius: 10px;
    width: 200px;
    padding: 10px;
}

.takenmakenform>select:hover {
        box-shadow: 0 4px 20px 6px rgba(79, 70, 229, 0.5), 0 6px 20px 0 rgba(147, 51, 234, 0.4), 0 0 30px rgba(79, 70, 229, 0.3);
}

.takenmakenform>button {

    margin: 40px auto;
    background-color: rgb(47, 47, 47);
    border: 3px solid rgb(52, 195, 52);
    border-radius: 10px;
    width: 200px;
    padding: 10px;
}

.takenmakenform>button:hover {
    width: 200px;
    border: 0;
    box-shadow: 0 1px 6px 3px rgba(52, 195, 52), 0 6px 20px 0 rgb(35, 134, 35), 0 0 30px rgba(34, 197, 94, 0.3);
}


.dashboardButton {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgb(68, 68, 68);
    border: 1px solid transparent;
    border-radius: 15px;
    font-weight: 600;
    font-size: 0.75rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: all 150ms ease-in-out;
    border: 2px solid rgb(91, 91, 91);
}

.dashboardButton:hover {
    background-color: #374151;
}

@media (max-width: 550px) {
    .takenmakenform>input {
        width: 95%;
        margin: 15px auto;
    }

    .takenmakenform {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .takenmakenform>textarea {
        margin: 15px auto;
        width: 95%;
        padding: 5px;
    }

    .takenmakenform>select {
        margin: 15px auto;
        padding: 10px;
    }
}